<html>
<body>
Dear <%= @user.login %>,
<p>To reset your NoiseTube password, click on <a href="<%= @url %>">this link</a>.</p>
<br/>The NoiseTube Team
<br/><img src="http://www.noisetube.net/images/noisetubelogo.png" alt="NoiseTube logo"/>
</body>
</html>