<html><body>
<p>Dear <%= @user.name %>,
Your have reset the password for your account successfully.
<ul>
  <li>Username: <%=h @user.login %></li>
  <li>Password: <%=h @user.password %></li>
</ul>
</body></html>