<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="MTJ.emulatorLaunchConfigurationType">
<booleanAttribute key="mtj.do_jad_launch" value="false"/>
<booleanAttribute key="mtj.do_ota" value="false"/>
<stringAttribute key="mtj.emulated_device" value=""/>
<stringAttribute key="mtj.emulated_device_group" value=""/>
<stringAttribute key="mtj.launch_params" value=""/>
<stringAttribute key="mtj.specified_jad_url" value=""/>
<booleanAttribute key="mtj.use_project_device" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="noisetube.MainMidlet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NoiseTube Mobile"/>
</launchConfiguration>
