<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="row">
  <hr/>
  <div align="center">
    <h1>API documentation</h1>
  </div>
  <h2> Data collecting API </h2>
  <p>We describe here the process to feed the noisetube server of pollution data.</p>
  <ul>
    <li>1/ Creating a new session of measurement, <em>&quot;a track&quot;</em>:<br />
      http://www.noisetube.net/api/newsession?key={myapikey} </li>
  </ul>
  <ul>
    <li>2/ Adding exposure data of a citizen to his/her  current trace:
      <p align="left"><em>example: </em>http://www.noisetube.net/api/update?key=myapikey&amp;l=geo:12.23,2.12&amp;tag=klaxon&amp;time=2008-10-02T11:02:02 Z +02:00&amp;db=56</p>
      <div align="left">where:
        <table width="825" border="0" cellpadding="4" cellspacing="4">
          <tr>
            <td width="93" bgcolor="#D9ECE4"><strong>Parameters</strong></td>
            <td width="299" bgcolor="#D9ECE4"><strong>Description</strong></td>
            <td width="278" bgcolor="#D9ECE4"><strong>Format </strong></td>
            <td width="60" bgcolor="#D9ECE4"><strong>Default</strong></td>
            <td width="61" bgcolor="#D9ECE4"><strong>Required </strong></td>
          </tr>
          <tr>
            <td>key</td>
            <td>the API key of the submitting user</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>x</td>
          </tr>
          <tr>
            <td>db</td>
            <td>measured loudness in dB(A)</td>
            <td>an integer in [30 to 110]</td>
            <td>&nbsp;</td>
            <td>x</td>
          </tr>
          <tr>
            <td>time</td>
            <td>local time of the measurement.</td>
            <td>W3C datetime format: <br />
              YYYY-MM-DDThh:mm:ss Z ±hh:mm</td>
            <td>&nbsp;</td>
            <td>x</td>
          </tr>
          <tr>
            <td valign="top">l</td>
            <td>Location </td>
            <td>geo:lat,lng e.g. l=geo:-12.23,2.12</td>
            <td>&nbsp;</td>
            <td>x</td>
          </tr>
          <tr>
            <td>tag</td>
            <td>tags associated to the measurements (comma separated)</td>
            <td>free text</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
      <br />
    </li>
  </ul>
  <ul>
    <li>3/ Ends the trace (to process the data on the server VERY IMPORTANT):<br />
      http://www.noisetube.net/api/endsesssion?key={myapikey}</li>
  </ul>
  <p align="center"><em>That's it! You have created a trace that  will be published and sharable through the website after its processing.</em></p>
  <hr/>
  <h2>Access to the data commons API<span class="Style2"><br />
  </span></h2>
  <p>Here we describe the API functions to track or get raw collected data</p>
  <h3>Function: api/search
  </h3>
  <p><strong>Description: </strong>Returns the last measurements (max. 500) that match the specified criteria:</p>
  <table width="832" border="0" cellpadding="4" cellspacing="4">
    <tr>
      <td width="84" bgcolor="#D9ECE4"><strong>Parameters</strong></td>
      <td width="190" bgcolor="#D9ECE4"><strong>Description</strong></td>
      <td width="305" bgcolor="#D9ECE4"><strong>Format </strong></td>
      <td width="128" bgcolor="#D9ECE4"><strong>Default</strong></td>
      <td width="61" bgcolor="#D9ECE4"><strong>Required </strong></td>
    </tr>
    <tr>
      <td>key</td>
      <td>API key belonging to the user making the request</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>x</td>
    </tr>
    <tr>
      <td>user</td>
      <td>ID or username of the user associated with the measurements</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>tag</td>
      <td>tags associated with the measurements</td>
      <td>string (comma separated tags)</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">city</td>
      <td>ID of the city where measurements were made</td>
      <td> integer </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">geo</td>
      <td>Geographical bounding box in which measurements were made</td>
      <td><p>left,bottom,right,top
          (e.g. geo=11.54,48.142,11.5439,48.1454) </p>
        <ul>
          <li><em>left</em> is the longitude of the left side of the bounding box.</li>
          <li><em>bottom</em> is the latitude of the bottom side of the bounding box.</li>
          <li><em>right</em> is the longitude of the right side of the bounding box.</li>
          <li><em>top</em> is the latitude of the top side of the bounding box.</li>
        </ul></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">dbmax</td>
      <td> maximum decibel value</td>
      <td>integer</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">dbmin</td>
      <td> minimum decibel value</td>
      <td>integer</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td >since (Not yet implemented)</td>
      <td>measurements since this date</td>
      <td>timestamp in milliseconds</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td >until (Not yet implemented)</td>
      <td>measurements until this date</td>
      <td>timestamp in milliseconds</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td >max (Not yet implemented)</td>
      <td>the maximum number of measurements returned</td>
      <td>integer , max=100</td>
      <td>20</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td >format (Not yet implemented)</td>
      <td>the output format</td>
      <td>json,rss</td>
      <td>json</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p/>
  <h4>Examples:
  </h4>
  <ul>
    <li>The last 100th measurements in a city<br />
      http://www.noisetube.net/api/search.json?key={apikey}&amp;city={cityID}&amp;max=100</li>
    <li>All the measurements tagged with &quot;neighbour&quot; in the city ID<br />
      http://www.noisetube.net/api/search.json?key={apikey}&amp;tag=neighbour&amp;city={cityID} </li>
    <li>All the measurements &gt;80 dB(a) in a given geographical area<br />
      http://www.noisetube.net/api/search.json?key={apikey}&amp;geo=11.54,48.142,11.5439,48.1454&amp;dbmin=80 // </li>
    <li>All the measurements &gt;80 dB(a) in a given geographical area since a given date <br />
      http://www.noisetube.net/api/search.json?key={apikey}&amp;geo=11.54,48.142,11.5439,48.1454&amp;dbmin=80&amp;since=121212332 //</li>
  </ul>
  <h4>JSON Return:<br/>
  </h4>
  <p>dataset=[{&quot;lat&quot;:48.8536,&quot;lng&quot;:2.38021,&quot;tags&quot;:[],&quot;date&quot;:1240213058000,&quot;l&quot;:68},<br />
    {&quot;lat&quot;:48.8536,&quot;lng&quot;:2.38021,&quot;tags&quot;:[],&quot;date&quot;:1240213067000,&quot;l&quot;:66},<br />
    {&quot;lat&quot;:48.8536,&quot;lng&quot;:2.38021,&quot;tags&quot;:[&quot;colleague&quot;],&quot;date&quot;:1240213268000,&quot;l&quot;:57}]</p>
  <h3>Function: /users/{username}/tracks/{track.id}.json</h3>
  <h4>Description:</h4>
  Give the the measures associated to the trace with the id {trace.id} of the user {user.id}
  <h4>Examples:</h4>
  http://www.noisetube.net/users/nico/traces/123.json // give the associated measures of the traces with ID=123<br />
  http://www.noisetube.net/users/nico/traces/last.json // give the last trace generated by the user

  <p><strong>JSON Return:</strong><br/>
  </p>
  <p>dataset=[{&quot;lat&quot;:48.8536,&quot;lng&quot;:2.38021,&quot;tags&quot;:[],&quot;date&quot;:1240213058000,&quot;l&quot;:68},<br />
    {&quot;lat&quot;:48.8536,&quot;lng&quot;:2.38021,&quot;tags&quot;:[],&quot;date&quot;:1240213067000,&quot;l&quot;:66},<br />
    {&quot;lat&quot;:48.8536,&quot;lng&quot;:2.38021,&quot;tags&quot;:[&quot;colleague&quot;],&quot;date&quot;:1240213268000,&quot;l&quot;:57}]</p>
</div>