<h1>Help</h1>
<ul>
  <li><a target="_self" href="#user_guide">User Guide</a></li>
  <li><a target="_self" href="#faq">FAQ</a></li>
</ul>

<h3 id="user_guide">User Guide</h3>
<div><object style="width:850px;height:650px" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=091105173553-e75a1417912e484f87ceed206838f507&amp;docName=noisetubeuserguide&amp;username=NoiseTube&amp;loadingInfoText=NoiseTube%20User%20Guide&amp;et=1257442747531&amp;er=62" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><embed src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" style="width:850px;height:650px" flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;documentId=091105173553-e75a1417912e484f87ceed206838f507&amp;docName=noisetubeuserguide&amp;username=NoiseTube&amp;loadingInfoText=NoiseTube%20User%20Guide&amp;et=1257442747531&amp;er=62" /></object></div>
 <a href="downloads/NoiseTubeUserGuide.pdf"><img src="images/icons/pdf.png" border="0" style="vertical-align: baseline"/>User Guide in PDF</a>.

<p> </p>

<h3 id="faq">FAQ</h3>
<h4>What are the requirements for my phone?</h4>
<ul>
  	<li><i>Recommanded</i>: A "data plan" for Internet access to transmit measurement in real time</li>
	<li><i>Recommanded</i>: A GPS receiver, either built-in or external (connected through Bluetooth)</li>
        <li>Platform specifics:
        	<ul>
        		<li>For Android phones: Android OS version 2.1 or later (minimal API level 7).</li>
        		<li>For Java ME phones:
          			<div id="jsr">
                			<ul>
						<li><a href="http://en.wikipedia.org/wiki/Connected_Limited_Device_Configuration">Connected Limited Device Configuration (CLDC)</a>, v1.1 or higher</li>
						<li><a href="http://en.wikipedia.org/wiki/Mobile_Information_Device_Profile">Mobile Information Device Profile (MIDP)</a>, v2.0 or higher</li>
						<li><a href="http://en.wikipedia.org/wiki/Java_Mobile_Media_API">JSR-135 Mobile Media API (MMAPI)</a>, v1.0 or higher, with support for recording audio in PCM, WAV, AU or RAW format</li>
						<li><a href="http://en.wikipedia.org/wiki/Mobile_Information_Device_Profile#javax.microedition.io.file">JSR-75 FileConnection Optional Package (FCOP)</a>, v1.0 or higher</li>
						<li><i>Optional</i>: <a href="http://en.wikipedia.org/wiki/Location_API_for_Java_ME">JSR-179 Location API</a>, v1.0 or higher (for GPS support)</li>
					</ul>
				</div>
		        </li>

		</ul>
	</li>
</ul>
<p> </p>

<h4>How to calibrate your phone?</h4>
If your phone is not in the listed the application, the application could still
work but the measurements will likely be significantly less accurate.
<br/>If you have access to a sound level meter, you can contribute by calibrating
your phone model yourself by following the instructions in <a href="http://docs.google.com/View?id=dchqdm7_298gxfb9pd9">this document</a>. Please send us your results so we can integrate them in the program so the whole NoiseTube community can benefit from your effort.