<div class="clearfix">
	<div class="col nleft">
		<div class="page_content">
			<h3>Journal papers</h3>
  			<ul>
				<li>
					Nicolas Maisonneuve, Matthias Stevens and Bartek Ochab. <i>Participatory noise pollution monitoring using mobile phones</i>. Information Polity, 15(1-2):51-71, Aug 2010.<br/>
					<a href="/publications/IP2010.pdf">PDF</a>&nbsp;|&nbsp;<a href="http://dx.doi.org/10.3233/IP-2010-0200">DOI: 10.3233/IP-2010-0200</a>
				</li>
			</ul>
                        <h3>Conference papers</h3>
			<ul>
				<li>
					Nicolas Maisonneuve, Matthias Stevens, Maria E. Niessen, Peter Hanappe and Luc Steels. <i>Citizen Noise Pollution Monitoring</i>. Proceedings of the 10th Annual International Conference on Digital Government Research (dg.o2009), May 2009.<br/>
					<a href="/publications/DG.O2009.pdf">PDF</a>
				</li>
				<li>
					Nicolas Maisonneuve, Matthias Stevens, Maria E. Niessen and Luc Steels. <i>NoiseTube: Measuring and mapping noise pollution with mobile phones</i>. Proceedings of the 4th International Symposium on Information Technologies in Environmental Engineering (ITEE 2009), Thessaloniki, Greece. May 28-29, 2009.<br/>
					<a href="/publications/ITEE2009.pdf">PDF</a>&nbsp;|&nbsp;<a href="http://dx.doi.org/10.1007/978-3-540-88351-7_16">DOI: 10.1007/978-3-540-88351-7_16</a>
				</li>
			</ul>
			<h3>Workshop papers</h3>
			<ul>
                                <li>
					Matthias Stevens and Ellie D&apos;hondt. <i>Crowdsourcing of Pollution Data using Smartphones</i>. Proceedings of the Workshop on Ubiquitous Crowdsourcing, held at ACM conference on Ubiquitous Computing 2010 (UbiComp2010), Copenhagen, Denmark, Sep 26-29, 2010.<br/>
					<a href="http://soft.vub.ac.be/Publications/2010/vub-tr-soft-10-15.pdf">PDF</a>
                                </li>
                                <li>
					Jorge Vallejos, Matthias Stevens, Ellie D&apos;hondt, Nicolas Maisonneuve, Wolfgang De Meuter, Theo D&apos;hondt and Luc Steels. <i>Context-aware Resource Sharing for People-centric Sensing</i>. Presented at the First International Workshop on Software Research and Climate Change (WSRCC-1), part of Onward! 2009 (co-located with OOPSLA 2009) in Orlando, USA, Oct 26, 2009.<br/>
					<a href="http://soft.vub.ac.be/Publications/2009/vub-soft-tr-09-04.pdf">PDF</a>
                                </li>
                                <li>
					Nicolas Maisonneuve, Matthias Stevens and Luc Steels. <i>Measure and map noise pollution with your mobile phone</i>. Proceedings of DIY for CHI: Methods, Communities, and Values of Reuse and Customization, workshop held at the ACM SIGCHI Conference on Human Factors in Computing Systems (CHI 2009), Boston, USA, Apr 4-9, 2009.<br/>
					<a href="http://www.instructables.com/id/Measure_and_map_noise_pollution_with_your_mobile_p/">"Instructables" version</a>&nbsp;|&nbsp;<a href="/publications/DIYforCHI2009.pdf">PDF</a>
				</li>
			</ul>
                        <h3>Posters</h3>
			<ul>
				<li>
					Ellie D&apos;Hondt and Matthias Stevens. <i>Community Memories for Sustainable Urban Living</i>. Displayed at the International Conference on Green Computing (ICGREEN 2010), Athens, Greece, Jul 29-31, 2010.<br/>
					<a href="/publications/ICGreen2010PosterAbstract.pdf">Abstract</a>&nbsp;|&nbsp;<a href="/publications/ICGreen2010Poster.pdf">Poster</a>
				</li>
				<li>
					Nicolas Maisonneuve, Matthias Stevens and Bartek Ochab. <i>NoiseTube: Citizen Noise Pollution Monitoring</i>. Displayed at the Sony CSL Paris Open House 2009, Paris, France, Oct 8-9, 2009.<br/>
					<a href="/publications/SonyCSLParisOpenHouse2009.pdf">PDF</a>
				</li>
			</ul>
                </div>
        </div>
	<div class="col nright">
		<div class="page_content">
			<h3>Press coverage</h3>
			<ul>
                                <li>
                                        Brandon Bailey. <i>Keeping watch in the environment: Smartphone apps gather information on creeks, birds, hazards</i> (Web version: <i>Smartphones used to gather data about San Jose's urban streams</i>), San Jose Mercury News (newspaper), Oct 18th, 2010, p.21-22.<br/>
                                        <a href="/publications/SanJoseMercuryNews_18-10-2010.pdf">Print article</a>&nbsp;|&nbsp;<a href="http://www.mercurynews.com/ci_16350288">Web article</a> (<a href="/publications/MercuryNews.com_18-10-2010.pdf">PDF</a>)
                                </li>
                                <!--
                                <li>
                                        Short radio interview with Matthias Stevens in the <i><a href="http://www.bbc.co.uk/programmes/p002w6r2">Digital Planet</a></i> show (<a href="http://www.bbc.co.uk/programmes/p009r50h">special episode</a> from the <a href="http://www.citizencyberscience.net/summit">Citizen Cyberscience Summit in Londen</a>) on BBC World Service, Sep 21th, 2010.<br/>
                                        <a href="/publications/InterviewBBCWorld.mp3">Audio (MP3)</a>
                                </li>
                                -->
                                <li>
                                        Television interview with Nicolas Maisonneuve in the <i><a href="http://telematin.france2.fr">Télématin</a></i> show on France 2<!-- (national French television)-->, Mar 11, 2010.<br/>
                                        <a href="http://telematin.france2.fr/?page=chronique&id_article=14987">Web article &amp; video</a> (<a href="/publications/Telematin-20100311.pdf">PDF</a>)&nbsp;|&nbsp;<a href="/publications/Telematin-20100311.mp4">Video (MP4)</a>
                                </li>
				<li>
					Belga (Belgian news agency). <i>Quand le téléphone traque le bruit</i>. Short news report based the article in Le Soir (see below), published on Nov 27-28, 2009 by several Belgian media:<br/>
					<ul>
						<li><a href="http://www.dhnet.be/infos/societe/article/290629/quand-le-telephone-traque-le-bruit.html">Web article</a> (<a href="/publications/LDH_27-11-2009.pdf">PDF</a>) at La Dernière Heure</li>
						<li><a href="http://www.lalibre.be/toutelinfo/belga/124397/quand-le-telephone-traque-le-bruit-le-soir.html">Web article</a> (<a href="/publications/LLB_27-11-2009.pdf">PDF</a>) at La Libre Belgique</li>
                                                <li><a href="http://lecho.be/r/?t=1&id=8265286">Web article</a> (<a href="/publications/L'Echo_27-11-2009.pdf">PDF</a>) at L'Echo</li>
						<li><a href="http://levif.rnews.be/belga/generale/78-6-132656/quand-le-telephone-traque-le-bruit--le-soir-.html">Web article</a> (<a href="/publications/LeVifL'Express_27-11-2009_(1).pdf">PDF</a>) at Le Vif/L'Express, and <a href="http://levif.rnews.be/actualite/technologie/72-63-43067/noisetube--ou-comment-mesurer-le-bruit-ambiant-avec-son-gsm.html">another</a> (<a href="/publications/LeVifL'Express_27-11-2009_(2).pdf">PDF</a>)<!-- with changed title--></li>
						<li><a href="http://www.rtbf.be/info/belgique/economie/quand-le-telephone-traque-le-bruit-le-soir">Web article</a> (<a href="/publications/RTBF-INFO_27-11-2009.pdf">PDF</a>) at RTBF</li>
						<li><a href="http://www.vub.ac.be/infoover/media/uab20091128.html#doc5">Newspaper article</a> in Het Laatste Nieuws</li>
					</ul>
				</li>
				<li>
					Elise Dubuisson. <i>Quand le téléphone traque le bruit</i>. Le Soir (newspaper), (2009)276, Nov 27th, 2009, p.31.<br/>
					<a href="/publications/LeSoir_27-11-2009.pdf">Print article</a>&nbsp;|&nbsp;<a href="http://www.lesoir.be/actualite/sciences_sante/2009-11-27/quand-le-gsm-traque-le-bruit-740409.shtml">Web article</a> (<a href="/publications/LeSoir.be_27-11-2009.pdf">PDF</a>)
				</li>					
				<li>
					Radio interview with Matthias Stevens in the <i><a href="http://www.rtbf.be/purefm/emission_on-n-est-pas-des-anges?id=258">On n'est pas des anges</a></i> show on Pure FM (RTBF, Belgium<!-- national Belgian French-speaking radio-->), Nov 23th, 2009.<br/>
					<!-- No longer online: <a href="http://podaudio.rtbf.be/rod/PU-ONPDA-MEDIAS_ONPDA_NOISE_TUBE.NET_INTERVIE_34334899.mp3">MP3</a> -->
					<a href="/publications/InterviewRTBF.mp3">Audio (MP3)</a>
				</li>
				<li>
					Anil Ananthaswamy. <i>Cellphone app to make maps of noise pollution</i>. New Scientist magazine, 204(2734), Nov 14th, 2009, p.26.<br/>
					<a href="http://dx.doi.org/10.1016/S0262-4079(09)62989-4">Print article</a> | <a href="http://www.newscientist.com/article/mg20427346.900-cellphone-app-to-make-maps-of-noise-pollution.html">Web article</a>
				</li>
                                <li>
					Erica Westly. <i>Citizen Science: How Smartphones Can Aid Scientific Research</i>. Popular Mechanics magazine, Mar 13th, 2009.<br/>
					<a href="http://www.popularmechanics.com/science/research/4308375.html">Web article</a>
				</li>
			</ul>
		</div>
	</div>
</div>

