<div class="clearfix">
  <div class="col nleft">
    <div class="page_content">
      <h2>Who are we?</h2>
      <h3>2010-...: VUB BrusSense group</h3>
      <p class="info">The NoiseTube research project is currently coordinated by the <a href="http://www.brussense.be">BrusSense group</a> at the Computer Science department of the <a href="http://www.vub.ac.be">Vrije Universiteit Brussel</a>, working under promotorship of <a href="http://arti.vub.ac.be/~steels">Prof. Dr. Luc Steels</a>.</p>
      <div class="listwithtitle">
        The following people are involved:
        <ul>
          <li><a href="http://soft.vub.ac.be/soft/members/matthiasstevens">Matthias Stevens</a> (Pre-doctoral researcher)</li>
          <li><a href="http://soft.vub.ac.be/soft/members/elliedhondt">Dr. Ellie D&apos;Hondt</a> (Post-doctoral researcher)</li>
          <li>Sander Bartholomees (Master student)</li>
        </ul>
      </div>
      <h3>2008-2009: Sony CSL Paris</h3>
      <p class="info">The NoiseTube project was founded in the summer of 2008 at the <a href="http://www.csl.sony.fr">Sony Computer Science Lab in Paris</a> under impulse of <a href="http://www.csl.sony.fr/staff/member/?username=steels">Prof. Dr. Luc Steels</a>, the lab director. The project ran until the end of 2009.</p>
      <div class="listwithtitle">
        The following people have been involved:
        <ul>
          <li><b>Project lead:</b> <a href="http://nico.maisonneuve.free.fr">Nicolas Maisonneuve</a></li>
          <li><a href="http://soft.vub.ac.be/soft/members/matthiasstevens">Matthias Stevens</a> (intern Jun-Dec 2008 &amp; Aug-Oct 2009)</li>
          <li>Bartek Ochab (intern H2 2009)</li>
          <li><a href="http://www.ai.rug.nl/~maria">Dr. Maria E. Niessen</a> (intern summer 2008)</li>
          <li><a href="http://www.csl.sony.fr/staff/member/?username=hanappe">Dr. Peter Hanappe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col nright">
    <div class="page_content">
    <h2>Open source project</h2>
	<p>Following a decision of Sony CSL, the software that has been developed as part of the NoiseTube project has been placed under the <a href="http://www.gnu.org/licenses/lgpl-2.1.html">GNU LGPL v2.1</a> open source license. The source code has been published on <a href="http://code.google.com/p/noisetube">Google Code</a>. This repository will facilitate future development and collaboration with third party contributors. We welcome anyone who wants to to contribute to the project (either as a developer or otherwise) to contact us.
	<p/>
	
    <h2>Sponsorship</h2>
      <ul>
        <li>Matthias Stevens is supported by the Flemish Fund for Scientific Research (FWO).</li>
        <li>Ellie D&apos;Hondt is supported by the Institute for the encouragement of Scientific Research and Innovation of the Brussels Capital Region (IRSIB/IWOIB).</li>
        <li>During 2008-2009 this work was partially supported by the Future and Emerging Technologies program (IST-FET) of the European Commission under contract IST-34721 (<a href="http://www.tagora-project.eu">TAGora project</a>).<br/><a href="http://www.tagora-project.eu"><img style="margin-top: 0.25em" border="0" src="/images/tagoralogo.png"/></a></li>
      </ul>
      <br/>
      
      <h2>Special thanks go to</h2>
      <ul>
        <li>Marleen Wynants &amp; Sara Engelen of <a href="http://crosstalks.vub.ac.be">VUB Crosstalks</a></li>
        <li><a href="http://www.ademloos.be">Ademloos vzw</a></li>
        <li>Amrit Kaur of the <a href="http://www.awaaz.org">Awaaz Fundation</a>, India</li>
        <li><a href="http://www.bruitparif.fr">BruitParif Observatory</a></li>
        <li>Sophie Boucher of <a href="http://www.csl.sony.fr">Sony CSL Paris</a></li>
      </ul>
      <br/>
    </div>
  </div>
</div>
