<?xml version="1.0" encoding="utf-8"?>
<!-- 
 ________________________________________________________________________________
  NoiseTube Phone Tester (Java implementation; Android version)
  
  Copyright (C) 2010-2011 Vrije Universiteit Brussel (BrusSense team)
 ________________________________________________________________________________
  This library is free software; you can redistribute it and/or modify it under
  the terms of the GNU Lesser General Public License, version 2.1, as published
  by the Free Software Foundation.
  
  This library is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
  details.
  
  You should have received a copy of the GNU Lesser General Public License along
  with this library; if not, write to:
    Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor,
    Boston, MA  02110-1301, USA.
  
  Full GNU LGPL v2.1 text: http://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt
 ________________________________________________________________________________
  NoiseTube Phone Tester uses the NoiseTube Mobile library:
  Copyright (C) 2008-2010 SONY Computer Science Laboratory Paris
  Portions contributed by Vrije Universiteit Brussel (BrusSense team), 2008-2011
  Used under the terms of the GNU Lesser General Public License, version 2.1.
  NoiseTube project source code repository: http://code.google.com/p/noisetube
 ________________________________________________________________________________
  More information:
   - NoiseTube project website: http://www.noisetube.net
   - Sony Computer Science Laboratory Paris: http://csl.sony.fr
   - VUB BrusSense team: http://www.brussense.be
 ________________________________________________________________________________
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.noisetube.tester.android" android:versionCode="2" android:versionName="1.1.0">

	<!-- for the internet connection -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- for accessing gps information -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- for writing external storage -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- for recording audio -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <activity android:label="@string/app_name" android:configChanges="orientation" android:name="TesterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    
    	<uses-sdk android:minSdkVersion="7" />
</manifest>